@font-face{
    font-family: 'Lexend';
    src: url('../fonts/Lexend/Lexend-Regular.ttf');
}
@font-face{
    font-family: 'LexendLight';
    src: url('../fonts/Lexend/Lexend-Light.ttf');
}
@font-face{
  font-family: 'LexendSemiBold';
  src: url('../fonts/Lexend/Lexend-SemiBold.ttf');
}
@font-face{
  font-family: 'LexendBold';
  src: url('../fonts/Lexend/Lexend-Bold.ttf');
}
@font-face{
  font-family: 'LexendExtraBold';
  src: url('../fonts/Lexend/Lexend-ExtraBold.ttf');
}

body {
  font-family: 'Lexend';
  overflow-x: hidden;
  background: #F2F3FA;
  font-size: 14px;
}

.auth-wrapper{
    /* height: 100vh; */
}
.auth-wrapper form .btn{
    font-family: 'LexendBold';
}

.auth-hero{
    background: url('../img/bg-auth.jpeg') no-repeat center center;
    height: 100vh;
    object-fit: cover;
    z-index: 0;

}
.auth-hero::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(2,26,71,0) 0%, rgba(2,26,71,0.6) 100%);
}
.auth-inner{
    /* background: #0C83C5; */
    height: 100vh;
}
.auth-inner .auth-hero .auth-header h2,
.auth-inner .auth-form .auth-header h3{
    font-family: 'LexendBold';
    color: #0C83C5;
}
.auth-inner .auth-left .auth-header h6{
    font-family: 'LexendLight';
}
.auth-inner .auth-hero .auth-content{

}
.auth-header h2{
    color: #0C83C5;
    font-family: 'LexendExtraBold';
}
.auth-header p{
    font-family: 'LexendLight';
}
