.btn{
	margin-top: 15px;	
	margin-right: 10px;
}
.btn .badge{
	margin-left: 8px;
}
.badge{
	padding: 8px 12px;
}
.badge.badge-gradient-primary{
	background: linear-gradient(to right, #da8cff, #9a55ff);
	color: #FFF;
}
.badge.badge-gradient-warning{
	background: linear-gradient(to right, #f6e384, #ffd500);
	color: #FFF;
}
.badge.badge-gradient-info{
	background: linear-gradient(to right, #90caf9, #047edf 99%);
	color: #FFF;
}
.badge.badge-gradient-danger{
	background: linear-gradient(to right, #ffbf96, #fe7096);
	color: #FFF;
}
.badge.badge-gradient-success{
	background: linear-gradient(to right, #84d9d2, #07cdae);
	color: #FFF;
}
.badge.badge-gradient-success{
	background: linear-gradient(to right, #84d9d2, #07cdae);
	color: #FFF;
}